.header {
  padding: 0.8rem;
  background: var(--mauve);

  margin-bottom: 1em;
}

.nav {
  display: flex;
  gap: 1.2rem;
}

/* Scoped to component only */
.link {
  color: var(--crust);
  text-decoration: none;
}
