.layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding-left: max(2rem, 10%);
  padding-right: max(2rem, 10%);
  gap: 1rem;

  width: 100%;
}
