.toggle {
  width: 3rem;
  height: 3rem;

  border-radius: 0.25rem;

  background-color: var(--surface2);

  transition: 0.2s ease-out;
}

.toggle.off {
  padding: 0.25rem;
}

.toggle.on {
  padding: 0.75rem;
}

.toggle > div {
  width: 100%;
  height: 100%;

  border-radius: 0.25rem;

  background-color: var(--base);

  transition: 0.2s ease-out;
}

.toggle > div > div {
  position: relative;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;

  border-radius: 0.25rem;

  transition: 0.2s ease-out;

  scale: 0;
}

.toggle:hover.off div {
  scale: 0.9;
}

.toggle:active.off div {
  scale: 1.1;
}

.toggle:hover.on div {
  scale: 1.1;
}

.toggle:active.on div {
  scale: 0.9;
}
